
.idea/Best-Friend-Finder.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/markdown-navigator.xml
.idea/vcs.xml

node-modules/