
<div class="text-center main-content">
    <div class="container-fluid">
        <h1 class="display-4"> Welcome to {{title}}</h1>
        <hr>
        <h3>Fill out our survey to find out what kind of dog suits you best!</h3>
        <a href="/survey" class="btn btn-info btn-lg">
            <i class="fab fa-wpforms"></i> Start Here
        </a>
    </div>
</div>
