<div class="text-center">

    <h3>Fill out our survey to find out what kind of dog suits you best!</h3>
    <form>
        <div class="form-group">
            <label for="formControlRange">Example Range input</label>
            <input type="range" class="form-control-range" id="formControlRange">
        </div>
    </form>

    <a href="/survey" class="btn btn-success btn-lg">
        <i class="fab fa-wpforms"></i> Submit
    </a>
</div>