<div class="text-center main-content">

    <h2><b>Fill out our survey to find out what kind of dog suits you best!</b></h2>
    <form id="survey">
        <div class="container">
            <!--
            habitatSize: 3,
            -->
            <div class="form-group">
                <label class="sliderLabel" for="habitatSize">How big is the living space your dog will have?<br> <span id="habitatVal">(ex: 1 bedroom apartment)</span></label>
                <input type="range" max="5" min="1" value="3" class="form-control-range" id="habitatSize" name="habitatSize">
            </div>
            <!--
            energy: 4,
            -->
            <div class="form-group">
                <label class="sliderLabel" for="energy">How much energy are expecting your new pet to have?<br> <span id="energyVal">(ex: 0 = Sleeps All Day - 10 = Plays all day)</span></label>
                <input type="range" max="10" min="1" value="5" class="form-control-range" id="energy" name="energy">
            </div>
            <!--
            independence: 8,
            -->
            <div class="form-group">
                <label class="sliderLabel" for="independence">How many hours a day will your pet be home alone?<br> <span id="independenceVal">(ex - 4 hours)</span></label>
                <input type="range" max="10" min="1" value="5" class="form-control-range" id="independence" name="independence">
            </div>
            <!--
            trainability: 4,
            -->
            <div class="form-group">
                <label class="sliderLabel" for="trainability">How trainable would you like your pet to be?<br> <span id="habitatVal">(ex - 4 hours)</span></label>
                <input type="range" max="10" min="1" value="5" class="form-control-range" id="independence" name="independence">
            </div>
            <!--
            kids: Selector?
            -->
            <div class="form-group">
                <label class="sliderLabel" for="kids">Will your dog be playing wit kids?<br> <span id="kidsVal">(ex: The dog will play with kids sometimes)</span></label>
                <input type="range" max="5" min="1" value="3" class="form-control-range" id="kids" name="kids">
            </div>
            <!-- 
            otherDogs: Slider
            -->
            <div class="form-group">
                <label class="sliderLabel" for="otherDogs">Will your dog be playing with other dogs?<br> <span id="otherDogsVal">(ex: Yes, we have one dog)</span></label>
                <input type="range" max="5" min="1" value="3" class="form-control-range" id="otherDogs" name="otherDogs">
            </div>
            <!--
            temperment: Slider
            -->
            <div class="form-group">
                <label class="sliderLabel" for="temperment">How friendly do you want your pet to be?<br> <span id="excerciseVal">(ex: Very nice)</span></label>
                <input type="range" max="10" min="1" value="5" class="form-control-range" id="excercise" name="excerciseHours">
            </div>
            <!--
            loyalty: Slider
            -->
            <div class="form-group">
                <label class="sliderLabel" for="loyalty">How much excercise will your dog get daily?<br> <span id="loyaltyVal">(ie - less than 30 mins)</span></label>
                <input type="range" max="10" min="1" value="5" class="form-control-range" id="loyalty" name="loyalty">
            </div>    
            <!--
            size: Slider
            -->
            <div class="form-group">
                <label class="sliderLabel" for="size">How big of a dog are you looking for?<br> <span id="excerciseVal">(ex: medium, like an English Bulldog)</span></label>
                <input type="range" max="2" min="0" value="1" class="form-control-range" id="size" name="size">
            </div>
            <!-- 
            longevity: 8,
            -->
            <div class="form-group">
                <label class="sliderLabel" for="longevity">How many years do you expect your dog to live for?<br> <span id="longevityVal">(ie - less than 30 mins)</span></label>
                <input type="range" max="2" min="0" value="1" class="form-control-range" id="longevity" name="longevity">
            </div>
            <!--
            climate: 4 -->
            <div class="form-group">
                <label class="sliderLabel" for="climate">What kind of weather climate to you live in?<br> <span id="climateVal">(ex: 60 degrees F year round)</span></label>
                <input type="range" max="10" min="0" value="5" class="form-control-range" id="climate" name="climate">
            </div>
            
            
            
        </div>
        <button id="formSubmission" type="submit" class="btn btn-lg btn-info">
        <i class="fab fa-wpforms"></i> Submit
        </button>
    </form>

    
    <script>
        $('#hours').on("change", function (){
            console.log($(this).val());
            let hrs = $(this).val();
            if(hrs > 7){
                $('#hoursVal').text(`${hrs}+ Hours`);
            }
            else{
                $('#hoursVal').text(`${hrs} Hours`);
            } 
        });
        $('#excercise').on("change", function (){
            console.log($(this).val());
            let hrs = $(this).val();
            if(hrs > 1){
                $('#excerciseVal').text(`1 hour or more a day`);
            }
            else if(hrs == 1)
            {
                $('#excerciseVal').text(`~30 mins a day`);
            }
            else
            {
                $('#excerciseVal').text(`I want a lazy dog!`);
            } 
        });
        $("#formSubmission").on('click', function (e){
            event.preventDefault();
            console.log( $('form').serialize() );
        });
           
    </script>
</div>